.outerDiv{
    width:28rem;
    height: 40rem;
    background-color: black;
    margin-top: 2rem;
    border-radius: 2rem;
    padding-top: 2%;
}
html{
    font-size: calc(0.70vh + 0.70vw);
    background-color: rgb(255, 157, 10);
}

.textfield{
    width: 24rem;
    height: 12%;
}

.numbers{
    height: 100%;
    width: 75%;    
}
.functions{
    height: 100%;
    width: 25%;
}

.innerDiv{
    width: 96%;
    height: 80%;
    margin-top: 1rem;
    display: flex;

}

.fieldClass{
    width: 24rem;
    height: 100%;
    font-size: 4rem;
    text-align: right;
    outline: none;
    color:white;
    background-color: black;
    border: none;
    padding-right:1rem ;
    -webkit-box-sizing: border-box;
}
.btn{
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    border: none;
    background-color: rgba(80, 80, 80, 0.7);
    color:white;
    font-size: 2.7rem;
    margin: 0 0.5rem;
    cursor: pointer;
}
.btn:active{
    background-color: grey;
}

.row{
    margin-top: 1.5rem;
    
}

.funcBtn{
    background-color: rgb(255, 157, 10);
    margin-top: 1.5rem;
    font-size: 3.5rem;
}
.funcBtn:hover{
    cursor: pointer;
}

.clearIcon{
   width: 2rem;
   height: 2rem;
}
.zero{
    width: 11rem;
    text-align: left;
    border-radius: 3rem ;
    padding-left: 2rem;
}
.hide{
    opacity: 0;
    cursor: default;
}